.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

input.jx1::-webkit-outer-spin-button,
input.jx1::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* Optional: You can also place some margin if needed */
}
.jx1 {
    -moz-appearance: textfield; /* Firefox compatibility */
    user-select: none; 
    /* pointer-events: none */
}

hr{
  @apply my-4
}

.jx-2{
  @apply z-10 w-24 border-2 hover:border-slate-100 rounded-md bg-slate-200 text-lg p-1 px-2
}

.jx-3{
  @apply flex m-2 mx-3 min-w-52 justify-between
}

.jx-4{
  @apply hidden
}

